@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&family=VT323&display=swap');



body {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





a {
    text-decoration: none; /* Прибирає підкреслення */
    color: inherit; /* Застосовує колір тексту від батьківського елемента */
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.log_p{
    width: 95px; /* Задає ширину */
    height: auto; /* Висота встановлюється автоматично для збереження пропорцій */
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.06em;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #979797;
}

.hero {
    font-family: "Bebas Neue", serif;
    background-image: url('img_general/fon_general_page.jpg'); /* Шлях до фону */
    background-size: cover; /* Зображення покриває весь блок */
    background-position: center; /* Центрування зображення */
    background-repeat: no-repeat; /* Без повторення зображення */
    text-align: center;
    padding: 130px;
    background-color: #f4f4f4;
}

.hero h1 {
    color: #ffffff;
    font-size: 5em;
    margin: 0;
}

.hero p {
    font-size: 1.7em;
    color: #ffffff;
}

.product-grid {   
    display: grid; /* Встановлює контейнер як grid, що дозволяє легко розміщувати елементи в сітці. */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Задає кількість колонок, що автоматично адаптуються до розміру контейнера. Мінімальний розмір колонки - 200px, максимальний - рівномірний поділ простору. */
    gap: 20px; /* Встановлює відступи між елементами сітки (горизонтальні та вертикальні). */
    padding: 20px; /* Додає внутрішні відступи навколо контейнера сітки. */
}

.product-tile {
    text-align:left;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-tile:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-tile img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-tile h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-tile p {
    font-size: 1em;
    color: #333;
}

footer {
    display: flex; /* Увімкнення режиму Flexbox */
    justify-content: space-between; /* Розташування елементів з відступом між ними */
    align-items: center; /* Вирівнювання по вертикалі (якщо потрібно) */
    padding: 60px; /* Відступи всередині footer */
    background-color: #000000; /* Колір фону для наочності */
    color: white;
   
}

footer p {
    padding: 3px;
    margin: 0;
    font-size: 0.9em;
}

.obslugovuvanya-klientiv, .ssocialni-mereji {
    flex: 1; /* Елементи отримують рівний простір (опціонально) */
    margin: 0px 10px; /* Відступ між блоками */
    
  }

  .icon_social a {
    margin: 3px;
    text-decoration: none;
    font-size: 40px; /* Розмір іконки */
    
  }

.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px; /* Відстань між картинками */
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    overflow-x: auto; /* Додає прокрутку, якщо контент перевищує ширину */
    white-space: nowrap; /* Забезпечує горизонтальне розташування */
}

.brand-container img {
    height: 90px; /* Висота логотипів */
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.brand-container img:hover {
    transform: scale(1.1); /* Збільшення при наведенні */
}







